<!DOCTYPE html>
<html lang="de">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ content.title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='kiss.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">



</head>

<body>

<div style="max-width: 40rem;">
    <div style="margin: auto;">
    
        <h2>
            {{ content.title }}
        </h2>

        {% for n in navigation %}
            <div style="float: left; margin: 5px 20px 5px 20px;">
                <a href="{{ n.url }}">{{ n.name }}</a>
            </div>
        {% endfor %}

        <div style="clear: both;"></div>
        <hr>
        <br>
        
            {% for c in subnavigation %}
                <div style="float: left; margin: 5px 20px 5px 20px;">
                    <a style="font-size: 0.8rem"  href="/{{ path }}/{{ c.url }}">{{ c.name }}</a>
                </div>
            {% endfor %}

        <div style="clear: both;"></div>
        <hr>
        <br>

        {{ content.html|safe }} 

    </div>
</div>





